<div class="p-col-12">
  <div class="card">
    <h5>Please scan your QLess Card</h5>
    <div class="p-fluid p-formgrid p-grid">

      <div class="p-field p-col-12 p-md-12">
        <input id="cardId" type="number" class="p-inputtext p-component" [(ngModel)]="this.cardId">
      </div>

    </div>


   
    <div class="row" *ngIf="isShow">
      <div class="col-md-6">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-text-width"></i>

            <h4 class="box-title">Card Information</h4>
          </div>

          <div class="box-body">
            <dl>
              <dt>Id</dt>
              <dd>{{qLessModel.id}}</dd>
              <dt>Balance:</dt>
              <dd>{{qLessModel.value  | number : '1.2-2'}}</dd>
              <dt>Serial No</dt>
              <dd>{{qLessModel.serialNo}}</dd>
              <dt>Status:</dt>
              <dd>{{qLessModel.active ? 'Active' : 'Expired' }}</dd>

            </dl>
          </div>

        </div>

      </div>

      <div class="col-md-6">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-text-width"></i>

            <h3 class="box-title">You are in {{stnName}} Station</h3>

          </div>

          <div class="box-body" *ngIf="!qLessModel.isEntry">
            <dl class="dl-horizontal">
              <dt>Regular Fare: </dt>
              <dd>{{priceMatrix.price}}</dd>
              <dt>Discount: </dt>
              <dd>{{qLessModel.discount | number : '1.2-2'}}</dd>
            </dl>
          </div>

        </div>

      </div>

    </div>

    <div class="row" *ngIf="isShowRegister">
      <div class="col-md-6">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-text-width"></i>

            <h4 class="box-title">Please fill up</h4>

          </div>

          <div class="box-body">
            <dl>
              <dt>Senior Citizen  Control Number</dt>
              <dd>
                <input type="text" class="p-inputtext p-component" mask="00-0000-0000" [(ngModel)]="qlessRegister.srCCN" >
              </dd>
              <dt> PWD ID Number</dt>
              <dd>
                <input type="text" class="p-inputtext p-component"  mask="0000-0000-0000" [(ngModel)]="qlessRegister.pwdId">
              </dd>

            </dl>
          </div>
          <div class="box-body">
            <button (click)="registerCard()" class="p-button-rounded p-button-warning p-ripple p-button p-component">
              <span class="p-button-label">Save</span><span class="p-ink"></span>
            </button>
            <h3 class="box-title">{{txtStatus}}</h3>

          </div>
        </div>

      </div>

      

    </div>
  </div>



</div>
<div class="p-col-12">
  
  <div class="box-body">

    <button (click)="scanCard()" class="p-button-rounded p-button-warning p-ripple p-button p-component">
      <span class="p-button-label">Scan Card</span><span class="p-ink"></span>
    </button>
    <button (click)="ngOnInit()"  *ngIf="!this.qLessModel.isEntry" class="p-button-rounded p-button-warning p-ripple p-button p-component">
      <span class="p-button-label">Exit for New Travel</span><span class="p-ink"></span>
    </button>
    <button *ngIf="showRegisterBtn && !this.isShowRegister" (click)="showRegister()" class="p-button-rounded p-button-warning p-ripple p-button p-component">
      <span class="p-button-label">Register Card</span><span class="p-ink"></span>
    </button>

  </div>
</div>
